{
  "processors": ["sylelint-scss"],
  "extends": ["stylelint-config-sass-guidelines"],
  "plugins": ["stylelint-order"],
  "rules": {
    "at-rule-no-unknown": null,
    "scss/at-rule-no-unknown": true,
    "indentation": "tab",
    "number-leading-zero": null,
    "order/order": ["custom-properties", "declarations"],
    "order/properties-order": ["width", "height"]
  }
}
