.products {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.products__list {
    list-style-type: none;
    margin-top: 50px;
    border-bottom: 1px solid lightgrey;
    
    li {
        margin-right: 20px;
    }
}

.products__image {
    img {
        width: 100px;
        height: 100px;
    }
}

Button {
    width: 150px;
}