.selected {
    max-width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
}

.selected__nav {
  width: 1000px;
  font-size: 18px;
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}