.container__nav {
  width: 100vw;
  height: 40px;
  display: flex;
  border-top: 1px solid white;
  padding-left: 20%;
  background-color: #313765;
}

.container {
  height: 100vh;
  width: 100%;
}

.container__products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
}
