.form {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__label { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  margin: 5px;

  ::-webkit-input-placeholder {
    text-align: center;
  }

  ::-moz-placeholder {
    text-align: center;
  }

  :-ms-input-placeholder {
    text-align: center;
  }

  ::-ms-input-placeholder {
    text-align: center;
  }

  ::placeholder {
    text-align: center;
  }
}

.form--button {
  width: 100px;
  margin: 10px;
}
