.auth-container {
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
}

.form--label {
  padding: 10px;
  text-decoration: underline;
}

.form--input {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form--button {
  width: 100%;
  margin-top: 20px;
}