.wrapper {
  width: 100%;
  height: 100vh;
  background-image: url('https://images4.alphacoders.com/869/869425.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.container {
  text-shadow: 12px 12px 3px rgba(150, 150, 150, 0.71);
  width: 1000px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__header {
  margin-top: 10rem;
  font-size: 76px;
}

.container__paragraph {
  margin-top: 70px;
  font-size: 48px;
}

.container_buttonGroup {
  width: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
