.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  
  li {
    list-style-type: none;
  }

  a {
    text-decoration: none;
    color: #7dc5a5;
  }

  a:hover {
    text-decoration: underline;
  }
}